$borderColor: #dad3d3;

p {
  margin: unset;
}

.main {
  background-color: #ececec;
  padding-bottom: 400px;

  .header-container {
    width: 100%;
    height: 400px;
    position: relative;

    .hader-img-container {
      width: 100%;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .img-shadow-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        box-shadow: inset -11px -13px 76px -15px #000000;
      }
    }

    .user-name-container {
      position: absolute;
      bottom: 29px;
      left: 484px;
      font-size: 51px;
      color: white;
      font-family: system-ui;
      font-weight: 700;
    }
  }

  .user-info-container {
    width: 300px;
    position: absolute;
    left: 150px;
    top: 149px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.69);
    background-color: #ffffff;

    .user-img {
      width: 100%;
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .main-info {
      padding: 10px;

      .about-user {
        width: 100%;

        .info-line {
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
          font-size: 16px;
          width: 100%;

          .line-name {
            color: #a8a8a8;
            text-transform: uppercase;
          }

          .line-value {
            color: #585858;
          }
        }
      }
    }
  }

  .main-content {
    margin-left: 566px;
    margin-top: 103px;
    width: 1200px;
  }
}
