<div class="main">
    <div class="header-container">
	<div class="hader-img-container">
	    <img src="https://cdn.shopify.com/s/files/1/1706/1307/articles/7-steps-plant-parenthood_9a8d0d9e-1342-4ecc-874a-9d88256e67a2_1800x.jpg?v=1629373601">
	    <div class="img-shadow-container"></div>
	</div>

	<div class="user-name-container">
	    {{user.username}}
	</div>
    </div>

    <div class="user-info-container">
	<div class="user-img">
	    <img [src]="user.img">
	</div>
	<div class="main-info">
	    <div class="about-user">
		<div class="info-line">
		    <div class="line-name"> email</div>
		    <div class="line-value"> {{user.email}} </div>
		</div>
		<div class="info-line">
		    <div class="line-name"> phone</div>
		    <div class="line-value"> {{user.phone}} </div>
		</div>
	    </div>
	</div>
    </div>

    <div class="main-content">
	<app-orders></app-orders>
    </div>
</div>
