<section class="main">
  <div class="logo" (click)="navigate('/items')">FLOWERS</div>
  <div class="right-section">
    <div class="user-info" *ngIf="user">
      {{user?.username}}
      <button mat-raised-button class="user-profile" (click)="openUserProfile()">
        <img [src]="user.img">
      </button>
      <button mat-raised-button (click)="openSideNaw()" class="bucket"> <mat-icon>shopping_basket</mat-icon> </button>
    </div>
    <div class="auth">
      <button mat-raised-button (click)="logOut()" *ngIf="user; else login">
        Exit
      </button>
    </div>
  </div>
</section>


<ng-template #login>
    <button mat-raised-button (click)="navigate('/login')" *ngIf="user === null">
      Login
    </button>
</ng-template>
