.main-container {
  padding: 3px;
  border: 1px solid black;
  display: flex;

  .img-container {
    width: 100px;
    height: 100px;
    min-width: 100px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right-section {
    margin-left: 10px;

    .title {
      font-size: 18px;
      font-weight: 600;
      overflow: hidden;
      max-height: 41px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    .description {
      font-size: 14px;
      margin-top: 5px;
      overflow: hidden;
      max-height: 46px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}
